<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="icon" href="logo.png">
<title>彩蛋</title>
<script language="JavaScript">
<!--
function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
function showMessage() {
    alert("《不是点我，是点图片》");
}
// -->
</script>
</head>

<body onload="FP_preloadImgs(/*url*/'button8.jpg', /*url*/'button9.jpg', /*url*/'button3.jpg', /*url*/'button2.jpg', /*url*/'button5.jpg', /*url*/'button4.jpg', /*url*/'buttonF.jpg', /*url*/'buttonE.jpg', /*url*/'button10.jpg', /*url*/'button11.jpg', /*url*/'button13.jpg', /*url*/'button14.jpg', /*url*/'button16.jpg', /*url*/'button17.jpg', /*url*/'button19.jpg', /*url*/'button20.jpg', /*url*/'buttonD1.jpg', /*url*/'buttonE1.jpg', /*url*/'button23.jpg', /*url*/'button24.jpg', /*url*/'button26.jpg', /*url*/'button27.jpg', /*url*/'button29.jpg', /*url*/'button30.jpg')">
<!--《真·彩蛋》-->
<p><font size="5">恭喜你发现了彩蛋，《虽然这里啥也没有》，但是你可以点击下面的一个选项进入一些《没用的网站》</font></p>
<p>　</p>
<p><a href="cat.html">
<img border="0" id="img2" src="button7.jpg" height="40" width="200" alt="Cat VS ball" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="Cat VS ball" onmouseover="FP_swapImg(1,0,/*id*/'img2',/*url*/'button8.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img2',/*url*/'button7.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img2',/*url*/'button9.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img2',/*url*/'button8.jpg')"></a></p>
<!--经典小猫-->
<p><a href="go-ahead.html">
<img border="0" id="img5" src="button12.jpg" height="40" width="200" alt="Go ahead" onmouseover="FP_swapImg(1,0,/*id*/'img5',/*url*/'button10.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img5',/*url*/'button12.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img5',/*url*/'button11.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img5',/*url*/'button10.jpg')" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="Go ahead"></a></p>
<!--瞎做的破游戏-->
<p><a href="Bongo-Jams/bongo-jams.html">
<img border="0" id="img6" src="button15.jpg" height="40" width="200" alt="Bongo Jams" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="Bongo Jams" onmouseover="FP_swapImg(1,0,/*id*/'img6',/*url*/'button13.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img6',/*url*/'button15.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img6',/*url*/'button14.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img6',/*url*/'button13.jpg')"></a></p>
<!--从动态壁纸里找的-->
<p><a href="Webgl/fluid.html">
<img border="0" id="img8" src="button21.jpg" height="40" width="200" alt="Webgl Fluid Simulation" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'button19.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'button21.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'button20.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'button19.jpg')" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="Webgl Fluid Simulation"></a></p>
<!--同上-->
<p><a href="element/index.html">
<img border="0" id="img9" src="buttonC.jpg" height="40" width="200" alt="元素周期表" onmouseover="FP_swapImg(1,0,/*id*/'img9',/*url*/'buttonD1.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img9',/*url*/'buttonC.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img9',/*url*/'buttonE1.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img9',/*url*/'buttonD1.jpg')" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="元素周期表"></a></p>
<!--同上x2-->
<p><a href="/404-game-master/404-test.html">
<img border="0" id="img10" src="button25.jpg" height="40" width="200" alt="咕噜咕噜小恐龙" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="咕噜咕噜小恐龙" onmouseover="FP_swapImg(1,0,/*id*/'img10',/*url*/'button23.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img10',/*url*/'button25.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img10',/*url*/'button24.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img10',/*url*/'button23.jpg')"></a></p>
<p><a href="/snake-minified.html">
<img border="0" id="img12" src="button31.jpg" height="40" width="200" alt="贪吃蛇" onmouseover="FP_swapImg(1,0,/*id*/'img12',/*url*/'button29.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img12',/*url*/'button31.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img12',/*url*/'button30.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img12',/*url*/'button29.jpg')" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="贪吃蛇"></a></p>
<!--咕噜咕噜经典小玩意（404也有）-->
<p><a href="code-rain.html">
<img border="0" id="img7" src="button18.jpg" height="40" width="200" alt="代码雨" onmouseover="FP_swapImg(1,0,/*id*/'img7',/*url*/'button16.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img7',/*url*/'button18.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img7',/*url*/'button17.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img7',/*url*/'button16.jpg')" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="代码雨"></a></p>
<p><a href="https://hnxupdate.pgrm.run:4443/">
<img border="0" id="img11" src="button28.jpg" height="40" width="200" alt="HNX更新服务器" onmouseover="FP_swapImg(1,0,/*id*/'img11',/*url*/'button26.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img11',/*url*/'button28.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img11',/*url*/'button27.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img11',/*url*/'button26.jpg')" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB" fp-title="HNX更新服务器"></a></p>
<!--瞎写的-->
<p><a href="http://www.114514.cn">
<img border="0" id="img1" src="button1.jpg" height="40" width="200" alt="《114514.cn》《homo》" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB; fp-orig: 0" fp-title="《114514.cn》《homo》" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button1.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button3.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2.jpg')"></a></p>
<p>
<!--《哼哼哼~！哼啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊》(语气词)-->
<a href="https://www.bilibili.com/video/BV1hq4y1s7VH/?spm_id_from=333.337.search-card.all.click">
<img border="0" id="img4" src="button6.jpg" height="40" width="200" alt="这里能跳转到机房的控制网站" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB; fp-orig: 0" fp-title="这里能跳转到机房的控制网站" onmouseover="FP_swapImg(1,0,/*id*/'img4',/*url*/'button4.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img4',/*url*/'button6.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img4',/*url*/'button5.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img4',/*url*/'button4.jpg')"></a></p>
<p><a href="index.html">
<img border="0" id="img3" src="buttonD.jpg" height="40" width="200" alt="&lt;-----返回" onmouseover="FP_swapImg(1,0,/*id*/'img3',/*url*/'buttonE.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img3',/*url*/'buttonD.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img3',/*url*/'buttonF.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img3',/*url*/'buttonE.jpg')" fp-style="fp-btn: Border Bottom 1; fp-font: SimSun-ExtB; fp-orig: 0" fp-title="&lt;-----返回"></a><br>
　</p>
<!--《你被骗辣！！！！》-->
<p>　</p>
<p>　</p>
<!--瞎放的-->
<p><font size="4">so，《我也不知道为何在这里放图片》（PS:会不定时更新，<a href="" onclick="showMessage()">点击即可下载</a>）</font></p>
<p><font size="4">《网站正在施工》</font></p>
<!--准备挂到亖为止，网站正在施工-->
<p><a href="/hh.png" download="网站正在施工.png"><img border="0" src="hh.png" width="1000" height="699"></a></p>
<p>　</p>
<p>《当年我做的SM玩意》（点击文字下载）-------------------------------------------------------------------------------------------</p>
<p><a href="/scan.rar" download="《真·扫描》.rar">《真·扫描》</a>(无话可说)</p><!--这个是我做过最离谱的东西，自己看脚本即可知道为啥-->
<p><a href="/desktop.rar" download="《桌面分类.ing》.rar">《桌面分类.ing》</a>(附带了激活工具，不知道还能不能用，<a href="/HEU.exe" download="HEU.exe">Windows9用户看这</a>)</p><!--我桌面上的经典小玩意-->
<p>《X-dos PE+shell》</a>(劝退提醒：大小1.4GB的iso，无直链下载)</p><!--一个我早就不做的项目，《2023年的我以为写个shell就叫OS》-->
<p><a href="/scrpc.rar" download="《Scratch假电脑》.rar">《Scratch假电脑》</a>(无话可说x2)</p><!--一个从小学2年级到初一的破玩意，《永远不会更新的WindowsXP》-->
<p><a href="/if-computer-startup-setup.exe" download="《电脑开机检测》.exe">《电脑开机检测》</a>(此为安装程序，源码早没了)</p><!--《史上最不NB的开机检测》-->
<p>以前玩的MC存档和mod</a>(以整合包的形式安装，劝退提醒：大小1.15GB，无直链下载)</p><!--我的回忆录，致敬我们回不去的童年-->
<p><a href="/mc-lan.rar" download="PCL2与联机版本.rar">《当年的做的MC联机版》</a>(无话可说x3)</p><!--《做这个玩意只是TM为了方便和朋友联机用,但是SM贝瑞花生壳太TM卡了》-->
<p><a href="https://pan.xunlei.com/s/VO-p9Zwm10YgyYHtn31dxt6NA1?pwd=mnif#">第一个给别人定制的系统</a>(迅雷云盘下载，劝退提醒：大小17.3GB的iso)</p><!--Don't ask me为什么这个B玩意这么大,Beacuse I don't know.-->
<p><a href="https://pan.xunlei.com/s/VO0d6wzJXpN_MSIaxAHfatO0A1?pwd=q3pw#">果糖病毒下载</a>(疑似侵权，不建议下载，《当时问了果糖，他没回我》)</p><!--原计划：做成视频，标题：自制的果糖小病毒，但是不知道同不同意素材引用权(彩蛋网页的最后一句话：《当时问了果糖，他没回我》)-->
<p><a href="/text.txt" download="自制文件下载链接.txt">顺带附上当时的TXT源文件下载</a></p>
<p>　</p>
<p>　</p>
<p>　</p>

</body>

</html>
