<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css">
    <link rel="icon" type="image/x-icon" href="/localcdn/ico.png">
    <meta charset="UTF-8">
<title>修改密码</title>

<div class="main-box">
<div class="card">
<h1>修改密码</h1>
<form method="post">
<div class="form-group">
<label>原密码</label>
<input type="password" name="old_password" required placeholder="请输入原密码">
</div>
<div class="form-group">
<label>新密码</label>
<input type="password" name="new_password" required placeholder="请输入新密码">
</div>
<div class="form-group">
<label>确认新密码</label>
<input type="password" name="confirm_password" required placeholder="请再次输入新密码">
</div>
<div style="margin-top:24px">
<a href="/" class="btn back-btn mdui-ripple">取消</a>
<button type="submit" class="btn mdui-ripple">保存修改</button>
</div>
</form>
</div>
</div>
</body>
</html>